/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        toggle_bt_layer: toggle_bt_layer {
            compatible = "zmk,behavior-toggle-layer";
            label = "BT_TOGGLE";
            #binding-cells = <1>;
        };

        TD_TICK_TILDE: TD_TICK_TILDE {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_TICK_TILDE";
            #binding-cells = <0>;
            bindings = <&kp GRAVE>, <&kp TILDE>;
        };

        TD_QUOTE_PIPE: TD_QUOTE_PIPE {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_QUOTE_PIPE";
            #binding-cells = <0>;
            bindings = <&kp SQT>, <&kp PIPE>, <&kp BACKSLASH>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default Layer";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp ESC             &kp Q             &kp W               &kp E           &kp R  &kp T        &kp Y      &kp U  &kp I       &kp O    &kp P                 &kp BSPC
&kp TAB             &mt LEFT_SHIFT A  &mt LEFT_CONTROL S  &mt LEFT_ALT D  &kp F  &kp G        &kp H      &kp J  &kp K       &kp L    &mt RIGHT_SHIFT SEMI  &TD_QUOTE_PIPE
&toggle_bt_layer 3  &kp Z             &kp X               &kp C           &kp V  &kp B        &kp N      &kp M  &kp COMMA   &kp DOT  &kp FSLH              &TD_TICK_TILDE
                                                          &kp LGUI        &mo 1  &kp ENTER    &kp SPACE  &mo 2  &kp DELETE
            >;
        };

        lower_layer {
            display-name = "Lower Layer";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp N1           &kp N2       &kp N3    &kp N4      &kp N5              &kp N6             &kp N7          &kp N8           &kp N9                &kp N0                 &kp AMPS
&trans  &kp EXCLAMATION  &kp AT_SIGN  &kp HASH  &kp DOLLAR  &kp LEFT_BRACKET    &kp RIGHT_BRACKET  &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp PERCENT
&trans  &trans           &trans       &trans    &trans      &trans              &kp MINUS          &kp UNDER       &kp STAR         &kp PLUS              &kp EQUAL              &kp CARET
                                      &trans    &trans      &trans              &trans             &trans          &trans
            >;
        };

        raise_layer {
            display-name = "Raise Layer";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp F1        &kp F2       &kp F3       &kp F4         &kp F5                  &kp F6          &kp F7          &kp F8        &kp F9           &kp F10  &trans
&trans  &kp LC(HOME)  &kp LC(END)  &kp PAGE_UP  &kp PAGE_DOWN  &trans                  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans   &trans
&trans  &trans        &trans       &trans       &trans         &kp LS(LG(NUMBER_4))    &trans          &trans          &trans        &trans           &trans   &trans
                                   &trans       &trans         &trans                  &trans          &trans          &trans
            >;
        };

        Bluetooth {
            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans  &trans  &trans  &trans  &trans  &trans
&trans      &trans        &trans        &trans        &trans        &trans          &trans  &trans  &trans  &trans  &trans  &trans
&trans      &trans        &trans        &trans        &trans        &trans          &trans  &trans  &trans  &trans  &trans  &trans
                                        &trans        &trans        &trans          &trans  &trans  &trans
            >;
        };
    };
};
